body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin: 10px 0 5px;
}

p {
  margin: 0 0 10px;
  color: #555;
}

#map {
  width: 100%;
  height: 90vh;
}

/* 地图切换按钮 */
#map-switch {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1000;
}

#map-switch button {
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
}
